@import url("https://fonts.googleapis.com/css2?family=Doto:wght@900&family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap");

#container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 640px;
  height: 480px;
  background-color: #333;
  border-radius: 40px;
  margin: auto;

  font-family: "Press Start 2P", "Pixelify Sans", system-ui, sans-serif;
  /* font-family: "Pixelify Sans", sans-serif; */
}
#container *::selection {
  color: #fff;
  background-color: #7050ff;
}

span {
  display: inline-flex;
  color: #fff;
  font-size: 20px;
}

/* Start scene */

input {
  width: 112px;
  padding: 8px;

  font-family: "Press Start 2P", "Pixelify Sans", system-ui, sans-serif;
  /* font-family: "Pixelify Sans", sans-serif; */
  font-size: 20px;
  border-radius: 0;
  text-transform: uppercase;
  text-align: center;

  color: #fff;
  background-color: #333;
  border: 6px solid #fff;
}
input:hover {
  border: 6px double #fff;
}
input:focus {
  outline: none;
  border: 6px double #fff;
}
input::placeholder {
  color: #fff;
}
input:hover::placeholder {
  color: #fff;
}
input:focus::placeholder {
  color: #fff;
}

.check {
  color: #6aff50;
  border-color: #6aff50 !important;
}

#rating-btn {
  position: absolute;
  bottom: 24px;
  right: 24px;
  background-image: url("./img/notes.png");
}

/* Game scene */

button {
  background: center no-repeat;
  box-sizing: content-box;
  padding: 0;

  border-radius: 0;
  width: 48px;
  height: 48px;

  /* border: 4px solid #fff; */
  border: 4px solid transparent;
}
button:hover {
  border: 4px dashed #fff;
}

#restart {
  position: absolute;
  top: 24px;
  right: 24px;
  background-image: url("./img/reload.png");
}

#score {
  position: absolute;
  top: 36px;
  left: 24px;
  font-size: 24px;
  padding-left: 56px;
}
#score::before {
  content: "";
  width: 48px;
  height: 48px;
  top: -12px;
  left: 0;

  background-image: url("./img/ac.png");
}

#time {
  align-items: end;
  /* height: 48px; */
  position: absolute;
  top: 36px;
  font-size: 24px;
}

#field {
  display: flex;
  justify-content: space-evenly;
  width: 360px;
}

.flask {
  height: 96px;
  border: none;
}
.flask:hover {
  border: none;
}

#pointer,
#select {
  position: absolute;
  bottom: 128px;
  width: 48px;
  height: 48px;
  background-image: url("./img/chevron-up.png");
}
#select {
  background-image: url("./img/select.png");
}

#goal {
  position: absolute;
  bottom: 32px;
}

/* Rating scene */

.rating-h {
  text-decoration: underline overline;
}

#rating {
  display: flex;
  flex-direction: column;

  width: 240px;
}

#rating span {
  display: inline-block;
}

.pouring {
  animation: pouring 1s ease forwards;
}

.non-pouring {
  animation: non-pouring 1s ease forwards;
}

@keyframes pouring {
  from {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes non-pouring {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}
