/* Similar to task.css */

body {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

main#quiz {
  width: 100%;
  margin: 0;
  align-items: center;
}

section {
  min-width: 480px;
  width: 50%;
  padding: 20px;

  background-color: #fff;
  border-radius: 20px;

  overflow: hidden;
}

h1,
h2 {
  display: block;
  text-align: center;
}

.question-con {
  padding: 0 4px;
}
.question-con.answered {
  padding-bottom: 2px;
  cursor: pointer;
}
.question-con.answered:hover {
  background: var(--color5);
}

hr {
  margin-bottom: 8px;
}

.question {
  display: block;
  position: relative;
  margin-bottom: 10px;

  width: fit-content;
}
.question::after {
  content: "";
  display: inline;
  position: absolute;
  right: -28px;
  top: -4px;
  background: 0 / 24px url(./svg/question.svg);
  height: 24px;
  width: 24px;
}
.question.correct::after {
  background: 0 / 24px url(./svg/correct.svg);
}
.question.incorrect::after {
  background: 0 / 24px url(./svg/incorrect.svg);
}

#container input[type="radio" i] + label {
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid var(--color25);
  border-radius: 999px;
  transition: ease-in 0.1s;
}
#container input[type="radio" i] + label:hover {
  /* background-color: #eee; */
  color: var(--color75);
  transform: scale(1.05);
  /* padding: 0.6rem; */
}
#container input[type="radio" i] + label.correct {
  padding: 1rem;
}

label.correct,
p.correct {
  background-image: var(--gradient50);
}
label.incorrect,
p.incorrect {
  background-color: #fdd;
}

.input-con {
  display: flex;
  align-items: center;

  margin: 0.3rem 0;
}
.input-con p {
  padding: 0.5rem;
  border: 1px solid var(--color25);
  border-radius: 8px;
}

.explanation {
  padding: 0.4rem;
  border: 1px solid var(--color25);
  border-radius: 8px;
  /* background-color: var(--color5); */
  margin-top: 20px;
}

.submit-btn {
  width: 100%;
  display: block;
  padding: 10px 20px;
  /* margin: auto; */
  margin-top: 10px;
}

#custom-question {
  margin-top: 20px;
}

#custom-question #expand-btn {
  width: 100%;
  color: var(--color75);
  background: #fff;
  border: 1px solid var(--color25);
  transition: ease-in 0.1s;
}
#custom-question #expand-btn:hover {
  transform: scale(1.05);
}

#container img {
  width: 180px;
  margin: auto;
  margin-top: 20px;
}

#own-question {
  margin: 10px 0;
}

.own-answer {
  border-radius: 999px;
}

.slide-right {
  animation: slideRight 1s ease-in forwards;
}

@keyframes slideRight {
  0% {
  }
  100% {
    translate: 500px 0;
    opacity: 0;
  }
}
